<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<title>
postnow
</title>

<script>


function robotButton( mvar1 = '', mvar2 = '', mvar3 = '', mvar4 = '', mvar5 = '', mvar6 = '' )
{
	console.log ( 'robotButton',  mvar1 );
	
	mvar1 = mvar1.replace(/\n/g, " ");
	
	varr = mvar1.split( ' ' )

	console.log ( varr[0] );
//	console.log ( varr[1] );
	
	mvar1 = ''
	mvar2 = ''
	mvar3 = ''
	mvar4 = ''
	mvar5 = ''
	mvar6 = ''
	
	for (var i = 0; i < varr.length; i++)
	{
		if( i == 0 )
		{
			mvar1 = varr[i]
		}
		if( i == 1 )
		{
			mvar2 = varr[i]
		}
		if( i == 2 )
		{
			mvar3 = varr[i]
		}
		if( i == 3 )
		{
			mvar4 = varr[i]
		}
		if( i == 4 )
		{
			mvar5 = varr[i]
		}
		if( i == 5 )
		{
			mvar6 = varr[i]
		}
	}
	
	console.log ( 'ad2', mvar1 );

	
	params  = "buttontype=" + mvar1 + "&jsvar1=" + mvar2 + "&jsvar2=" + mvar3 + "&jsvar3=" + mvar4 + "&jsvar4=" + mvar5 + "&jsvar5=" + mvar6;

	request = new ajaxRequest()

	request.open("POST", "{{ url_for('top.input1') }}"  )
	request.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
	
	request.onreadystatechange = function()
	{
		if (this.readyState == 4)
		{
		  if (this.status == 200)
		  {
			if (this.responseText != null)
			{
				console.log ( mvar1 );
				editPage( mvar1, this.responseText )
			}
			else alert("Ajax error: No data received")
		  }
		  else alert( "Ajax error: " + this.statusText)
		}
	}
	request.send(params)
}


function ajaxRequest()
{
	try
	{
		var request = new XMLHttpRequest()
	}
	catch(e1)
	{
		try
		{
			request = new ActiveXObject("Msxml2.XMLHTTP")
		}
		catch(e2)
		{
			try
			{
				request = new ActiveXObject("Microsoft.XMLHTTP")
			}
			catch(e3)
			{
				request = false
			}
		}
	}
	return request
}


function editPage( mvar1 = 'blank', mvar2 = 'blank' )
{
	console.log ( "edit page" );
//	document.getElementById('output1').innerHTML = mvar2;
	var str = JSON.stringify( JSON.parse( mvar2 ) , null, 2); // spacing level = 2
	document.getElementById('output1').innerHTML = '<pre>' + str + '</pre>';
}


//document.getElementById('button1').innerHTML = closeuservar1 + '<button onclick="robotButton( \'closeuserButton\', ' + 'document.getElementById(\'pass1\').value ' + ' ) ;" >close user</button>' + closeuservar2;


</script>


</head>
<body bgcolor="#000000">
<font color="#ffffff">

<a href="{{ url_for('index') }}">index</a>

<br><br>
<textarea id="eventinput" rows="5" cols="50">
</textarea>
<div id="button1"></div>

<br>output:<br><br>
<div id="output1"></div>


<br>

newLocation<br>
<pre>newLocation addStr addLat addLng</pre><br><br>
balance<br>
<pre>balance</pre><br><br>
send to<br>
<pre>sendAmount z2 z1.euro 1</pre><br><br>
my transactions<br>
<pre>sendRecLog 0 10</pre><br><br>


<br>
<br>
<br>
login<br>
<pre>curl 'http://127.0.0.1:5000/signin/'  --data 'button=login&username=ca&secret=pass123' --cookie-jar somefile.txt</pre><br><br>
requests<br>
<pre>curl --cookie somefile.txt 'http://127.0.0.1:8080/input/' --data 'buttontype=balance&jsvar1=&jsvar2=&jsvar3=&jsvar4=&jsvar5='<br>
curl --cookie somefile.txt 'http://127.0.0.1:8080/input/' --data 'buttontype=myTransa&jsvar1=0&jsvar2=10&jsvar3=&jsvar4=&jsvar5='</pre><br><br>

<br><br>


python login script
<pre>
import pycurl
from StringIO import StringIO
import urllib

buffer = StringIO()
c = pycurl.Curl()
c.setopt(c.URL, 'http://127.0.0.1:8080/signin/')

post_data = { 'button':'login', 'username':'z1',  'secret':'pp' }
postfields = urllib.urlencode(post_data)
c.setopt(c.POSTFIELDS, postfields)

c.setopt(c.COOKIEJAR, 'cookie.txt')

c.setopt(c.WRITEDATA, buffer)
c.perform()
c.close()

body = buffer.getvalue()
print(body)
</pre>



<br><br>

python script
<pre>
import pycurl
from StringIO import StringIO
import urllib

buffer = StringIO()
c = pycurl.Curl()
c.setopt(c.URL, 'http://127.0.0.1:8080/input/')

#post_data = { 'buttontype':'balance' }
post_data = { 'buttontype':'markets', 'jsvar1':'0', 'jsvar2':'10'}
postfields = urllib.urlencode(post_data)
c.setopt(c.POSTFIELDS, postfields)

c.setopt(c.COOKIEFILE, 'cookie.txt')

c.setopt(c.WRITEDATA, buffer)
c.perform()
c.close()

body = buffer.getvalue()
print(body)
</pre>

<br>

</body>
</html>


<script>
//document.getElementById(\'pass1\').value + 

    varww = 'document.getElementById( \'eventinput\' ).value'
	newvar2 = '<button name="button100" id="foo" onclick="robotButton( ' + varww + ' ) ;" >Send</a>';

	document.getElementById('button1').innerHTML = newvar2
</script>
